[submodule "cyberdrop-dl"]
	path = cyberdrop-dl
	url = https://aur.archlinux.org/cyberdrop-dl
[submodule "cyberdrop-dl-git"]
	path = cyberdrop-dl-git
	url = https://aur.archlinux.org/cyberdrop-dl-git
[submodule "podman-tui"]
	path = podman-tui
	url = https://aur.archlinux.org/podman-tui
[submodule "podman-tui-git"]
	path = podman-tui-git
	url = https://aur.archlinux.org/podman-tui-git
[submodule "yoku-git"]
	path = yoku-git
	url = https://aur.archlinux.org/yoku-git.git
[submodule "yoku-bin"]
	path = yoku-bin
	url = https://aur.archlinux.org/yoku-bin.git
[submodule "yoku"]
	path = yoku
	url = https://aur.archlinux.org/yoku.git
